/* 
 <------ STYLING NOTES -------> 
why does my nav-div not go the length of the page?
change nav to be top nav - dont have everything as one color backgroud.
i feel like i should have the login/log out be at the top of the app with the nav and slogan. 
look at headspace/duolingo or other sites for reference. a login page to a website isnt really done anymore, maybe unless
it looks more -game- like from the beginning */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
/* p{
  margin:0;
  font-size: 2vh;
} */


#playful {
  font-size: 90px;
  padding: 0;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  color: var(--text);
  text-shadow: 
    8px 8px var(--next-shadow),
    8px 8px var(--next-shadow),
    13px 13px var(--shadow),
    14px 14px var(--shadow),
    12px 12px var(--shadow),
    12px 12px var(--shadow),
    11px 11px var(--shadow),
    10px 10px var(--shadow),
    9px 9px var(--shadow),
    8px 8px var(--next-shadow),
    7px 7px var(--next-shadow),
    6px 6px var(--next-shadow),
    5.75px 5.75px var(--next-shadow),
    5.5px 5.5px var(--next-shadow),
    5.25px 5.25px var(--next-shadow),
    5px 5px var(--next-shadow),
    4.75px 4.75px var(--next-shadow),
    4.5px 4.5px var(--next-shadow),
    4.25px 4.25px var(--next-shadow),
    4px 4px var(--next-shadow),
    3.5px 3.5px var(--next-shadow),
    3.25px 3.25px var(--next-shadow),
    3px 3px var(--shadow),
    2.75px 2.75px var(--shadow),
    2.5px 2.5px var(--shadow),
    2.25px 2.25px var(--shadow),
    2px 2px var(--shadow),
    1.75px 1.75px var(--shadow),
    1.5px 1.5px var(--shadow),
    1.25px 1.25px var(--shadow),
    1px 1px var(--next-shadow),
    0.75px 0.75px var(--next-shadow),
    0.5px 0.5px var(--next-shadow),
    0.25px 0.25px var(--next-shadow);
}

#playful  {
  --text: #ff3a03;
  --next-shadow: #7ad1f5;
  --shadow: #ffee6d;
}

body{
  margin-bottom: 0;
  /* background-color: #E9FAE3; */
}
#man{
  max-width: 500px;
}

#logo{
  color: #10294b;
  font-family: 'Bungee Shade', cursive;
  font-size: 100px;
  margin: 30px;
}

#welcome{
  color: #10294b;
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
}

#sub{
  color: #10294b;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-shadow: 2px 4px rgb(192, 192, 192, .5);
}

.icon{
  max-width: 20px;
}

.icon-btn{
background-color: transparent;
border: none;
}

.icon-btn:hover{
cursor: pointer;
}

.event-txt{
  font-size: 20px;
  text-shadow: none;
  
  margin: 0;
}

.game-div{
  /* background-image: url("./photos/office.jpg"); */
  background-color: hsl(0, 0%, 100%);
  background-size: cover;
  background-blend-mode: lighten;
  padding: 50px;
  border: 5px solid black;
  border-radius: 25px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  
}

.welcome-div h2{
  font-family: 'Bungee Shade', cursive;
  font-size:70px;
  text-shadow: none;
  color:rgb(15, 15, 65);

}

.game-div h2{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;

}

#color{
  background-color: rgb(255, 255, 255, .6);
}



.speak-div{
display: flex;

}

.welcome-col{
  margin-top: 3%;
  display: flex;
  padding: 60px
}

.col-1{
flex: 70%;
padding:0 ;
}

.col-2{
flex: 50%;
padding: 0;
}

#subhead{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-shadow: none;
  color: #10294b;
}

#tagline{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 200 bold;
  text-shadow: none;
  color: #10294b;
  margin: 0;
}

#name{
  font-size: 40px;
  /* font-family: 'Montserrat', sans-serif; */
  color: #10294b;
  font-family: 'Bungee Shade', cursive;
  text-shadow: none;

}

h4 {
  font-size: 40px;
  /* font-family: 'Montserrat', sans-serif; */
  color: #10294b;
  font-family: 'Bungee Shade', cursive;
  text-shadow: none;

}

.clm-1{
flex: 70%;

}

.clm-1 h1{
  margin: 0;
}


.clm-2{
flex: 30%;
}


.clm-2 #key-phrase{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.clm-2 #filler-word{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.btn-div{
  align-items: center;

}
.mic{
  max-height: 30px;
}

.btn-div button{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #FFEE93;
  border: none;
  background-color: rgb(240, 78, 34,.9);
  font-family: 'Bungee Shade', cursive;
}

.btn-div button:hover{
  background-color:#f04e22;
  color: #FFEE93;
  font-style: italic;
  cursor: pointer;
}

.submit{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(240, 78, 34, .9);
  border: none;
  background-color: #ffea73;
  padding: 20px;
  font-family: 'Bungee Shade', cursive;
}

.submit:hover{
  background-color:#f04e22;
  color: #FFEE93;
  font-style: italic;
  cursor: pointer;
 
}
/* 
Other background color options:
#E9FAE3 -- light teal 
#06acdb -- darker blue 
#7ad1f5 -- lighter blue*/

.overall-contain{
  /* display: flex;
  flex-direction: row; */
  min-height: 100%;
  margin-top: 0;
  background-color: #E9FAE3;
}

.nav-div{
  margin-top: 0;
  overflow: hidden;
  /* border: 1px solid black; */
  background-color: white;
  font-family: 'Montserrat', sans-serif;


  }

  .trainer{
    max-height:400px;
  }

  .train-div{
    margin-top: 5%;
  }

.nav-div a {
  display: block;
  float: left;
  padding: 10px;
  margin-left: 100px;
  font-size: 15px;
  color: #10294b;
  font-weight: bold;
 
}


.nav-div a:hover{
  color: #10294b;
  text-decoration: underline;
  
  background-position-x: ;
}

#score{
  font-size: 40px;
  cursor: pointer;
  text-shadow: none;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 10px;
  
}

.welcome-div{
/* flex-grow: 1; */
/* font-size: 40px; */
color:#403e44;
font-family: 'Montserrat', sans-serif;
align-items: center;
justify-content: center;
text-align: center;
text-shadow: 1px 4px white;
height: 1000vh;
}

/* .welcome-div p {
  font-weight: bold;
  font-size: 30px;
  text-shadow: none;
} */

img{
  max-width: 60vh;
}

.audio{
 position: absolute;
 bottom: -805px;
}

h3{
  font-size: 15px;
}


.quiz-btn{
border: 0;
color: #f04e22;
background-color: rgb(254, 184, 19, .9);
border-radius: 25px;
padding: 30px;
font-size: 30px;
font-weight: bold;
font-family: 'Bungee Shade', cursive;
}

.quiz-btn:hover{
  -webkit-transform:  scale(1.2);
  -ms-transform: scale(1.2);
  transform:  scale(1.1);
  color: #f04e22;
  background-color:  rgb(254, 184, 19, .9);
  cursor: pointer;
}


.trophy-pic{
max-height: 40vh;
padding: 20px;
}




.about{
  position: fixed;
  bottom: 0;
  margin: 0 15px 0 0;
  right: 0;
  color: #403e44;
  text-align: right;

}

a{
  text-decoration: none;
}
/* a:visited{
  color: silver;
} */

.about > p{
font-size: 10px;
text-shadow: none;
}

#timer{
  font-family: 'Bungee Shade', cursive;
  font-size: 100px;
  text-shadow: 2px 5px #f04e22;

}

.profile{
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  color: #10294b;
  text-shadow: none;

}

.profile-img{
  max-width: 300px;
  border-radius: 65px;
}

#timer.warning{
  -webkit-animation: bounce .1s  ease infinite alternate-reverse ;
  animation: bounce .4s  ease infinite alternate-reverse ;
}

@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #f04e22,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #f04e22,
                 0 5px 0 #f04e22,
                 0 6px 0 #f04e22,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 tomato,
0 10px 0 #CCC,
               0 11px 0 tomato,
               0 12px 0 tomato,
               0 13px 0 tomato,
   0 14px 0 #CCC,
               0 15px 0 tomato,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}
 
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 tomato,
                 0 2px 0 tomato,
                 0 3px 0 tomato,
                 0 4px 0 tomato,
                 0 5px 0 tomato,
                 0 6px 0 tomato,
                 0 7px 0 #f04e22,
                 0 8px 0 #f04e22,
                 0 9px 0 #f04e22,
                 0 10px 0 #f04e22,
                 0 11px 0 #f04e22,
  0 10px 0 #CCC,
               0 11px 0 #CCC,
               0 12px 0 #CCC,
               0 13px 0 #CCC,
   0 14px 0 #CCC,
               0 15px 0 #CCC,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}


.button-div{
  align-items: center;

}

.button-div button{
  margin: 10px;
  padding: 25px;
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  color: #f04e22;
  border: none;
  background-color: rgb(254, 184, 19, .9);
  font-family: 'Bungee Shade', cursive;
}

.button-div button:hover{
  background-color: rgb(254, 184, 19, .5);
  font-style: italic;
}

.profile-btn{
  border: none;
  font-size: 30px;
}

#bio{
  font-size: 30px;
  text-shadow: none;
}

.input-text{
  width: 600px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  word-wrap: break-word;
  border: 2px solid midnightblue;
  border-radius: 15px;
  background-color: rgb(255, 255, 255,.7);
  
}

.cal-title{
  color: #10294b;
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
  text-shadow: none;
}

.cal-div{
  display: flex;
  flex-direction: row;
  
  margin: 10px;
  padding: 10px;
  align-items: center;
  

}

.calendar-div{

  flex: 50%;
  height: 200px;
  
  margin: 5px;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 2px 3px silver;
  border: 1px solid #10294b;
  
}

.cal-img{
  width: 700px;
  margin: 0;
}

button{
  margin: 5px
}

label {
  font-size: 30px;
}

.prof-div{
  display: flex;
  padding: 0;
  align-items: right;
  align-content: right;
  justify-content: right;
  
}

.profile-img-div{
flex: 40%;
align-items: center;
align-content: center;
justify-content: right;
padding: 20px;
}

.profile-info-div{
flex: 60%;
padding: 40px;
text-align: left;
/* border: 1px solid black; */
border-radius: 10px;
background-color: white;
padding-left: 30px;
margin-right: 30px;
margin: 10px;
box-shadow: 1px 2px 3px silver;
border: 1px solid #10294b;
}
.scoreDiv{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}


.wobble-hor-bottom{-webkit-animation:wobble-hor-bottom 1s infinite both;animation:wobble-hor-bottom 2s infinite both}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-29 23:52:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}

 .shake-horizontal{-webkit-animation:shake-horizontal 1s cubic-bezier(.455,.03,.515,.955) infinite both;animation:shake-horizontal 1s cubic-bezier(.455,.03,.515,.955) infinite both}
 /* ----------------------------------------------
 * Generated by Animista on 2020-7-29 23:58:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}@keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}

.key-phrase{
margin-left: auto;
margin-right: auto;
width: 50%;
font-size: 20px;
}

.quest-txt{
font-size: 20px;
}

.game-st{
  font-size: 60px;
}

#phraser{
  padding: 40px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 2px 3px silver;
  border: 1px solid #10294b;
}

#quester{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 2px 3px silver;
  border: 1px solid #10294b;
}


